.sideBar {
    box-sizing: border-box;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 200px;
    padding: 5px;
}

.menuItem {
    margin-top: 10px;
    margin-bottom: 10px;
    color: crimson;
    text-decoration: none;
}

.menuItem > * {
    color: crimson;
    text-decoration: none;
}

.active {
    color: chocolate;
}

.navUl {
    margin: 0;
    padding: 0;
    user-select: none;
}