.overlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.modalContainer {
    position: absolute;
    height: 400px;
    width: 400px;
    box-sizing: border-box;
    border: 2px solid red;
    top: calc(50vh - 200px);
    left: calc(50vw - 200px);
    border-radius: 5px;
    background: #212121;
    color: white;
}

.inputRow {
    display: flex;
    flex-direction: column;
}

.inputRow > * {
    display: block;
}

.inputRow:first-child {
    margin: auto;
}

.buttonRow {
    margin-top: auto;
}