:root {
    --logoWrapperHeight: 50px;
    --logoHight: 50px;
}

.logoWrapper {
    width: 100%;
    height: var(--logoWrapperHeight);
    display: flex;
    align-items: center;
    user-select: none;
    background: crimson;
}

.logo {
    width: 100px;
    height: var(--logoHight);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    /*margin-left: calc((var(--logoWrapperHeight) - var(--logoHight)) / 2);*/
}