.container {
    background: crimson;
    height: 60px;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.blockContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.blockContainer:hover {
    background: red;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text {
    white-space: nowrap;
    width: 140px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8em;
    font-family: Roboto, sans-serif;
}

.text:first-child {
    font-weight: bold;
}

.avatar {
    width: 2.3em;
    height: 2.3em;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background: #000;
    border-radius: 50%;
}