.tableContainer {
    max-width: 500px;
    user-select: none;
}

.tableRow {
    display: flex;
    border-radius: 5px;
    height: 30px;
}

.tableCol {
    flex-basis: 120px;
    border-right: 1px solid black;
    flex-shrink: 0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.tableCol:last-child {
    border-right: none;
}

.tableCol::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

.tableRowHead {
    font-weight: bold;
}

.tableRow:nth-child(even) {
    background: lightgray;
}

.tableRow:nth-child(odd) {
    background: gray;
}