.tableContainer {
    max-width: 500px;
    user-select: none;
}

.tableRow {
    display: flex;
    border-radius: 5px;
    height: 30px;
}

.tableCol {
    flex-basis: 120px;
    border-right: 1px solid black;
    flex-shrink: 0;
    overflow-x: auto;
}

.tableCol:last-child {
    border-right: none;
}

.tableRowHead {
    font-weight: bold;
}

.tableRow:nth-child(even) {
    background: lightgray;
}

.tableRow:nth-child(odd) {
    background: gray;
}

::-webkit-scrollbar {
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #888;
}

::-webkit-scrollbar-thumb {
    background: darkred;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}