.headRow {
    height: 50px;
    display: flex;
    flex-direction: column-reverse;
    box-sizing: border-box;
    border: 2px solid crimson;
    position: fixed;
    width: 100vw;
    top: 0;
}

.wrapper {
    display: flex;
}